@media only screen and (max-width:600px){
    .maindiv1{
        height: 100px;

    }
    .img1{

        height: 100px;
        width: 90%;
        margin-left:30px;
        
        
    }
    .logo{

        height: 80px;
    }
    .manudiv{
        margin-top:105px;
        box-shadow: none;

    }
    .manuul1{
        width: none;
        

    }
    .manuul1 li{
        float: none;
        margin-top:0px;
        width:80%;
    }
    .bodydiv{
        margin-top:360px;
        position: absolute;
        width: 100%;
    }
    .footer1{
        margin-top:2200px;
    }
    .img2{
        width: 480px;
    }
    .img3{

        margin-top:1100px;
        position: absolute;
        margin-left:0px;
        width: 480px;
    }
    .side1{
        display: none;
    }
}