*{
    margin:0px;
    padding:0px;

}
.maindiv1{
    height:250px;
    width:100%;
    box-shadow: 3px 3px 20px black;
    position: absolute;



}
.img1{
    position: absolute;
   
}
.logo{

position: absolute;

}
.manudiv{
    position: absolute;
    margin-top:260px;
    background-color:black;
    width: 100%;
    box-shadow: 3px 3px 10px black;
}
.manuul1{
    list-style: none;
    font-size: 30px;
    text-align: center;
    
}
.manuul1 li{
    float: left;
    padding:35px;
    text-transform: capitalize;
    color:white;
  
   
}
.manuul1 a{
    text-decoration: none;
    color:white;
}

.manuul1 li:hover{
   background-color: white;
   color:black;
}
.img2{
    position: absolute;
    margin-top:370px;
}
.img3{
    position: absolute;
    margin-top:370px;
    margin-left:501px;
}
.img4{
    position: absolute;
    margin-top:370px;
    margin-left:1000px;
}
.side1{

    height:750px;
    width:320px;
    border:0px solid black;
    position: absolute;
    margin-top:370px;
    margin-left:1001px;
    box-shadow: 3px 3px 20px black;
}
.footer1{
margin-top:1125px;
height:100px;
width:100%;
border:1px solid black;
position: absolute;
box-shadow: 3px 3px 20px black;
background-color: black;
color:white;
}