*{
    margin:0;
    padding:0;
}
.maindiv{

    height:100px;
    max-width:100%;
    border:1px solid black;
    background-color: blue;
    color:white;
}
.head1{

    margin-left:20px;
}
.maun1{
    height:50px;
    width:100%;
    border:1px solid black;
    background-color: darkblue;
    color:white;
}
.ul1{
    list-style: none;
    font-size:20px;
}
.ul1 li{
    float: left;
    margin: 10px;
    padding-left:50px;
    text-transform: capitalize;
}
.log{
    float: right;
    margin-right: 50px;
    margin-top: 10px;
    color:white;
    
}
.log a1:{
    text-decoration:white;
    color:white;
}