*{
    margin:0;
    padding:0;
   
 
    
}
#head1{
        margin-left:20px;
        font-size:50px;
        color:#00396E  ;
        text-transform:capitalize;
        
}
#p1{
    margin-left:20px;
    font-size:20px;
    color:#00396E  ;
    text-transform:capitalize;
    background-color:red;
    float:left;
  
}
#p2{
        margin-left:243px;
        font-size:20px;
        color:white;
        text-transform:capitalize;
        background-color:blue;
        position: absolute;
        
}
#hr1{
        margin-top:40px;

}
#main1{

       height:100px;
       width:80%;
       box-shadow: 3px 3px 20px black;
       margin-left:20px;

    

}
#main1 ul {
            list-style-type:none;
           
}
#main1 ul li{
            float:left;
           
            margin-left:50px;
            margin-top:20px;
            font-size: 30px;
            text-transform: capitalize;
            font-family: sans-serif;
}
 #main1 ul li:hover{
                   
                    box-shadow: 3px 3px 20px black;
                    font-size:35px;

 }
 #div2{
                height:30px;
                width:80%;
                margin-left:20px;
                box-shadow: 3px 3px 10px black;
 }
                