@media only screen and (max-width: 600px) {
    body {
      background-color: white;
    }
    .ul1{
        padding-left:0px;
        margin:0px;
        max-width:100%;
    }
    .ul1 li{
         background-color:black;
         color:white;
         float: none;
         font-size:30px
         
         
    }
    
    #div2{
        background-color: white;
    }
    .headingdiv1{

        margin-left:0px;
    }
    #img1{

       
    }
    .bodydiv1{

        height:400px;
        width:95%;
        border: 1px solid black;
        margin-top:350px;
        margin-left:1.5%;
   
    }
    #bodydiv2{
        height:400px;
        width:95%;
        border: 1px solid black;
        margin-top:20px;
        margin-left:1.5%;
    }

  }
