
*{
    margin:0;
    padding:0;
}

.headingdiv1{
    background-color: red;
    
}
#div2{

    background-color:black;
    height: 50px;
    width:100%;
}
.ul1{
    list-style: none;
    padding-left:20px;
    text-transform: capitalize;
  
}
.ul1 li{

    float: left;
    padding: 20px;
    padding-left:50px;
    color:white;
}

.ul1 li:hover{
    background-color:yellow;
    color:black;
}
#img1{
    height: 400px;
    width: 100%;

}
.bodydiv1{

    height:400px;
    width:90%;
    border: 1px solid black;
    margin-top:10px;
    margin-left:5%;
    box-shadow: 3px 3px 10px black;
}
#footer1{

    height:100px;
    width:100%;
    border:1px solid black;
    margin-top:20px;
    background-color: red;
}